.header {
    background-color: #fff;
    border-bottom: var(--light-gray-color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    font-size: 1.4rem;

    &__logo {
        width: 3.75rem;
        margin-left: 2rem;
    }

    &__search {
        display: flex;
        flex: 0 0 40%;
        justify-content: center;

        &--input {
            width: 90%;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            border: none;
            padding: .7rem 2rem;
            background-color: var(--light-gray-color-2);
            border-radius: 100px;
            margin-right: -3.25rem;
            transition: all .2s;

            &:focus {
                outline: none;
                width: 100%;
                background-color: var(--light-gray-color-3);
            }

            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--light-gray-color-4);
            }
        }

        &--button {
            background-color: var(--light-gray-color-2);
            border: none;
            
            &-icon {
                width: 2rem;
                height: 2rem;
            }

            &:focus {
                background-color: var(--light-gray-color-3);
                outline: none;
            }
        }

        &--input:focus + &--button {
            background-color: var(--light-gray-color-3);            
        }

    }

    &__nav {
        display: flex;
        align-self: stretch;
        align-items: center;

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }

        & > *:hover {
            background-color: var(--light-gray-color-1);
        }

        &--box {
            position: relative;

            &-icon {
                width: 2.25rem;
                height: 2.25rem;
                fill: var(--dark-gray-color-2);
            }

            &-notification {
                font-size: .8rem;
                height: 1.75rem;
                width: 1.75rem;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 1.5rem;
                right: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--user {
            &-avatar {
                width: 3.75rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }
}

.sidebar {
    background-color: var(--dark-gray-color-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__list {
        font-size: 1.4rem;
        list-style: none;
        margin-top: 3.5rem;

        &--item {
            display: flex;
            flex: 1;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &-link:link, 
            &-link:visited {
                text-decoration: none;
                color: var(--light-gray-color-1);
                text-transform: uppercase;
                display: block;
                padding: 1.5rem 3rem;
                display: flex;
                align-items: center; 
                position: relative;
                z-index: 10;
            }

            &-icon {
                width: 1.75rem;
                height: 1.75rem;
                margin-right: 2rem;
                fill: currentColor;
            }

            &-active {
                background-color: var(--light-primary-color);
            }
        }

        &--item::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: var(--primary-color);
            transform: scaleY(0);
            transform-origin: center;
            transition: width .2s, background-color .1s;
        }

        &--item:hover::before {
            transform: scaleY(1);
            width: 100%;
        }
    }

    &__legal {
        font-size: 1.2rem;
        padding: 2.5rem;
        text-align: center;
        color: var(--light-gray-color-4);
    }
}