.header {
    background-color: #fff;
    border-bottom: var(--light-gray-color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    font-size: 1.4rem;

    &__logo {
        width: 3.75rem;
        margin-left: 2rem;
    }

    &__search {
        display: flex;
        flex: 0 0 40%;
        justify-content: center;

        &--input {
            width: 90%;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            border: none;
            padding: .7rem 2rem;
            background-color: var(--light-gray-color-2);
            border-radius: 100px;
            margin-right: -3.25rem;
            transition: all .2s;

            &:focus {
                outline: none;
                width: 100%;
                background-color: var(--light-gray-color-3);
            }

            &::-webkit-input-placeholder {
                font-weight: 100;
                color: var(--light-gray-color-4);
            }
        }

        &--button {
            background-color: var(--light-gray-color-2);
            border: none;
            
            &-icon {
                width: 2rem;
                height: 2rem;
            }

            &:focus {
                background-color: var(--light-gray-color-3);
                outline: none;
            }
        }

        &--input:focus + &--button {
            background-color: var(--light-gray-color-3);            
        }

    }

    &__nav {
        display: flex;
        align-self: stretch;
        align-items: center;

        & > * {
            padding: 0 2rem;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
        }

        & > *:hover {
            background-color: var(--light-gray-color-1);
        }

        &--box {
            position: relative;

            &-icon {
                width: 2.25rem;
                height: 2.25rem;
                fill: var(--dark-gray-color-2);
            }

            &-notification {
                font-size: .8rem;
                height: 1.75rem;
                width: 1.75rem;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 50%;
                position: absolute;
                top: 1.5rem;
                right: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--user {
            &-avatar {
                width: 3.75rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
    }
}