.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--light-gray-color-1);
    box-shadow: var(--dark-shadow);
    min-height: 50rem;
}

.content {
    display: flex;
}

.hotel-view {
    flex: 1;
    height: 80rem;
}